@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #cce0f4;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  background: white;
  padding: 1em;
}
.navbar .logo1 img {
  border-radius: 10em;
  width: 80px;
  height: auto;
}
.navbar nav {
  display: none;
}
.navbar .container {
  display: flex;
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3em;
}
.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.left-col .primary-cta {
  background-color: #20272E;
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  transition: all 0.35s;
}
.left-col .primary-cta:hover {
  background-color: #e56868;
}

.hilite-article a {
  font-size: 1.2em;
  color: #92bad8;
}

.watch-video-cta {
  background-color: #F2F2F2;
  color: #20272E;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border: 3px solid #20272E;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  transition: all 0.35s;
}
.watch-video-cta:hover {
  background: #7da4cc;
}
.watch-video-cta img {
  margin-right: 0.5em;
}

.top-right-home-img-world-peace img {
  max-width: 80%;
  height: auto;
}

.bottom-left-home-img-gsfp img {
  max-width: 80%;
  height: auto;
  margin-bottom: 2em;
}

.logo2 {
  max-width: 80%;
  margin-top: 3em;
  border: 3.5px solid #3F5199;
  border-radius: 15px;
}

section.home-section {
  background: #20272E;
  color: white;
  text-align: center;
}
section.home-section .btr-goal {
  margin-top: 16px;
  margin-bottom: 3em;
}
section.home-section img {
  border-radius: 15px;
}

.about-section {
  text-align: center;
}
.about-section h2 {
  font-size: 2em;
}

.gun-violence-article-link:hover {
  color: #609ac6;
}

.leaders-section {
  background: var(--primary-color);
}
.leaders-section h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 4em;
}
.leaders-section li {
  background: #82b2e2;
  text-align: center;
  border-radius: 1em;
  padding: 1.5em;
  margin-bottom: 5em;
}
.leaders-section li img {
  margin-top: -4em;
  width: 5em;
  height: 5em;
  border: 4px solid #5c8ec1;
  border-radius: 50%;
}

.top-side-heading-what-is-gun-violence {
  text-align: center;
}

.bottom-side-gun-violence-blurb {
  text-align: center;
  margin-bottom: 1em;
}

.gun-stats {
  margin-bottom: 4em;
}
.gun-stats .left-stats {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gun-stats .left-stats img {
  padding: 1em 0.5em 1em 0.5em;
  border: 5px solid black;
  border-radius: 15px;
  max-width: 80%;
  height: auto;
}
.gun-stats .right-stats {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gun-stats .right-stats img {
  padding: 1em 0.5em 1em 0.5em;
  border: 5px solid black;
  border-radius: 15px;
  max-width: 80%;
  height: auto;
}

.indiana-gun-laws-excerpt {
  text-align: center;
  margin-bottom: 1em;
}
.indiana-gun-laws-excerpt b {
  font-size: 20px;
}

.indiana-gun-law-stats img {
  border: 5px solid #E9454E;
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

.application-section {
  background: #424c55;
  text-align: center;
  align-items: center;
  color: white;
}
.application-section a {
  color: #79b8e9;
}
.application-section iframe {
  margin-top: 3em;
  width: 100%;
  height: 500px;
}

.starter-guide-doc {
  width: 100%;
  height: 500px;
}

nav.mobile-menu {
  transition: all 2s linear;
  display: block;
}

.secondary-nav {
  align-items: center;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  align-items: center;
  margin-top: 5em;
}
nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
  transition: all 0.35s;
}
nav li a:hover {
  font-weight: bold;
  color: #e56868;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
    margin-right: 10em;
  }
  .navbar nav li.apply-cta a {
    color: #3F5199;
    border: 3px solid #3F5199;
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2;
    transition: all 0.35s;
  }
  .navbar nav li.apply-cta a:hover {
    background: #3F5199;
    color: white;
  }
}
@media only screen and (min-width: 1080px) {
  .container {
    max-width: 1080px;
    margin: 0 auto;
  }
  .home-section .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .home-section .container .home-section-container {
    position: relative;
    width: 100%;
  }
  .home-section .container .home-section-container {
    margin-right: 3em;
    margin-bottom: 5em;
  }
  .home-section .container .home-section-container .top-left-home-mission-statement {
    margin-bottom: 1.2em;
  }
  .home-section .container .home-section-container .top-right-home-img-world-peace {
    margin-bottom: 2em;
  }
  .home-section .container .home-section-container .btr-goal {
    margin-bottom: 0;
  }
  .home-section .container .bottom-left-home-img-gsfp {
    margin: 1em 1em 0 1em;
  }
  .home-section .container .no-margin-top {
    margin-top: 0;
  }
  section {
    padding: 10em 4em;
  }
  .top-side-heading-what-is-gun-violence h2 {
    font-size: 2em;
  }
  .hero .container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .logo2 {
    width: 30%;
  }
  .hero-cta {
    display: flex;
  }
  .primary-cta {
    margin-right: 1em;
  }
  .leaders-section ul {
    display: flex;
  }
  .leaders-section ul .yezenia-and-carolyn {
    margin-right: 3em;
  }
  .leaders-section ul .yezenia-and-carolyn .yezenia-only {
    margin-bottom: 3em;
  }
  .leaders-section ul .siri-and-grace .siri-only {
    margin-bottom: 4.5em;
  }
}/*# sourceMappingURL=styles.css.map */